<!doctype html>
<title>CryptoPython</title>
<html>
<head>
    <title>Carte valet de trefle</title>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="2000" height="2000" viewBox="0 0 2000 2000">
  <g id="jack_club">
    <use xlink:href="#base" x="1675.75" y="0" />
    
    <g fill="none" stroke="black" stroke-width="1">
      <path d="M 1685.25 -175.117L1685.25 2.27" />
      <path d="M 1685.25 2.27L1816.03 2.27" />
      <path d="M 1833.83 -54.03L1833.83 -231.667" />
      <path d="M 1833.83 -231.667L1703.05 -231.667" />
    </g>
    
    <g>
      <use xlink:href="#club" x="713.264" y="-85.2573" 
           transform="scale(2.4) rotate(180,713.264,-85.2573)" />
      <rect x="1693.33" y="-223.601" width="9.69257" height="37.968" fill="white" />
    </g>
    
    <g>
      <use xlink:href="#club" x="753.017" y="-10.2745" 
           transform="scale(2.4)" />
      <rect x="1816.49" y="-43.6428" width="9.69257" height="37.968" fill="white" />
    </g>
    
    <g transform="rotate(-1.80,1759.54,-114.699)">
      <line x1="1718.46" y1="-55.1025" x2="1800.61" y2="-174.295" stroke="black" stroke-width="7.25" />
      
      <circle cx="1720.88" cy="-58.1609" r="2.2" fill="white" />
      <circle cx="1720.88" cy="-58.1609" r=".7" fill="black" />
      
      <circle cx="1724.26" cy="-63.0587" r="2.2" fill="white" />
      <circle cx="1724.26" cy="-63.0587" r=".7" fill="black" />
      
      <circle cx="1727.63" cy="-67.9564" r="2.2" fill="white" />
      <circle cx="1727.63" cy="-67.9564" r=".7" fill="black" />
      
      <circle cx="1731.01" cy="-72.8541" r="2.2" fill="white" />
      <circle cx="1731.01" cy="-72.8541" r=".7" fill="black" />
      
      <circle cx="1734.38" cy="-77.7519" r="2.2" fill="white" />
      <circle cx="1734.38" cy="-77.7519" r=".7" fill="black" />
      
      <circle cx="1737.76" cy="-82.6496" r="2.2" fill="white" />
      <circle cx="1737.76" cy="-82.6496" r=".7" fill="black" />
      
      <circle cx="1741.14" cy="-87.5474" r="2.2" fill="white" />
      <circle cx="1741.14" cy="-87.5474" r=".7" fill="black" />
      
      <circle cx="1744.51" cy="-92.4451" r="2.2" fill="white" />
      <circle cx="1744.51" cy="-92.4451" r=".7" fill="black" />
      
      <circle cx="1747.89" cy="-97.3429" r="2.2" fill="white" />
      <circle cx="1747.89" cy="-97.3429" r=".7" fill="black" />
      
      <circle cx="1751.26" cy="-102.241" r="2.2" fill="white" />
      <circle cx="1751.26" cy="-102.241" r=".7" fill="black" />
      
      <circle cx="1754.64" cy="-107.138" r="2.2" fill="white" />
      <circle cx="1754.64" cy="-107.138" r=".7" fill="black" />
      
      <circle cx="1758.01" cy="-112.036" r="2.2" fill="white" />
      <circle cx="1758.01" cy="-112.036" r=".7" fill="black" />
      
      <circle cx="1761.39" cy="-116.934" r="2.2" fill="white" />
      <circle cx="1761.39" cy="-116.934" r=".7" fill="black" />
      
      <circle cx="1764.76" cy="-121.832" r="2.2" fill="white" />
      <circle cx="1764.76" cy="-121.832" r=".7" fill="black" />
      
      <circle cx="1768.14" cy="-126.729" r="2.2" fill="white" />
      <circle cx="1768.14" cy="-126.729" r=".7" fill="black" />
      
      <circle cx="1771.52" cy="-131.627" r="2.2" fill="white" />
      <circle cx="1771.52" cy="-131.627" r=".7" fill="black" />
      
      <circle cx="1774.89" cy="-136.525" r="2.2" fill="white" />
      <circle cx="1774.89" cy="-136.525" r=".7" fill="black" />
      
      <circle cx="1778.27" cy="-141.423" r="2.2" fill="white" />
      <circle cx="1778.27" cy="-141.423" r=".7" fill="black" />
      
      <circle cx="1781.64" cy="-146.32" r="2.2" fill="white" />
      <circle cx="1781.64" cy="-146.32" r=".7" fill="black" />
      
      <circle cx="1785.02" cy="-151.218" r="2.2" fill="white" />
      <circle cx="1785.02" cy="-151.218" r=".7" fill="black" />
      
      <circle cx="1788.39" cy="-156.116" r="2.2" fill="white" />
      <circle cx="1788.39" cy="-156.116" r=".7" fill="black" />
      
      <circle cx="1791.77" cy="-161.013" r="2.2" fill="white" />
      <circle cx="1791.77" cy="-161.013" r=".7" fill="black" />
      
      <circle cx="1795.14" cy="-165.911" r="2.2" fill="white" />
      <circle cx="1795.14" cy="-165.911" r=".7" fill="black" />
      
      <circle cx="1798.52" cy="-170.809" r="2.2" fill="white" />
      <circle cx="1798.52" cy="-170.809" r=".7" fill="black" />
    </g>
    
    <use xlink:href="#jack" x="1684.78" y="-203.347" />
    <use xlink:href="#jack" x="1834.3" y="-26.05" transform="rotate(180,1834.3,-26.05)" />
    <use xlink:href="#club" x="1689.4" y="-185.117" transform="rotate(180,1689.4,-185.117)" />
    <use xlink:href="#club" x="1829.67" y="-44.28" />
    
    <use xlink:href="#jack_4" 
         transform="matrix(0.990001,0.000000,0.000000,0.990000,1330.845,-204.5343)" 
         id="use1593" x="0.0000000" y="0.0000000" width="2178.4751" height="1215.6875" />
         
    <use xlink:href="#jack_4" 
         transform="matrix(-0.989999,0.000000,0.000000,-0.990000,2188.317,-24.84575)" 
         id="use1594" x="0.0000000" y="0.0000000" width="2178.4751" height="1215.6875" />
  </g>
</svg>

