</html>
<head>
<script>
function lancer(){
          alert("le barillet tourne");
}
</script>


</head>
<body>
<h1>Roulette Russe</h1>

<svg width=200 height=200 style="background-color:antiquewhite">
<circle cx="100" cy="100" r="95" stroke="black" stroke-width="3" fill="none" />
<circle id="Br1" cx="100" cy="40" r="25" stroke="black" stroke-width="3" fill="gray" />
<circle id="Br2" cx="150" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" />
<circle id="Br3" cx="50" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" />
<circle id="Br4" cx="50" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" />
<circle id="Br5" cx="150" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" />
<circle id="Br6" cx="100" cy="160" r="25" stroke="black" stroke-width="3" fill="gray" />
<circle cx="100" cy="100" r="10" stroke="black" stroke-width="3" fill="black" />
</svg>

<button onclick="lancer()">Jouer</button>

</body>
</html>
